<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="/login">Login</a>
        <div class="dropdown">
            <button class="dropbtn">IMAGE AI<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" width="16" height="15"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="F-Chevron"> <polyline fill="none" id="Down" points="5 8.5 12 15.5 19 8.5" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg></button>
            <div class="dropdown-menu">
                <a href="/rmbg">Remove Background</a>
                <a href="/vehrm">Remove Vehicle Background</a>
                <a href="/cartoon">Bowl Cut</a>
                <a href="/beauty">Beauty</a>
            </div>
        </div>
        <a href="/" style="color:red;">Home</a>
    </div>
    <div class="container">
        <div class="pic"><img src="{{ url_for('static',filename='css/div1.png') }}" ></div>
        <div class="log">
            <h1>Login Here</h1>
            <form action="/login_user" method="post">
                <label>Enter Your Email</label><br>
                <input type="email" name="EMAIL" id="email" placeholder="youremail@gmail.com" required=""><br><br>
                <label>Enter Your Password</label><br>
                <input type="password" name="PASSWORD" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required=""><br><br>
                <button class="logbtn">Submit Now</button>
            </form>
            You don't Have an account ?<a href="/register" style="text-decoration: none; color:red;">Click</a>
        </div>
    </div>
</body>
</html>
