<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script type="text/javascript">
            var a ="{{pred}}"
            var b=a.toString();
            var c=b.substring(0,16)
            var d=b.substring(17)
            function toggle_signout(){
                signb=document.querySelector('.sign_out')
                cont=document.querySelector('.container_a')
                document.getElementById("email").setAttribute('value',d);
                if(c.localeCompare("Login Successful")==0){
                    signb.style.display= 'flex'
                    cont.style.display='none'
                }else{
                    cont.style.display='flex'
                    signb.style.display = 'none'
                }
            }

        </script>
    </head>
    <link rel="stylesheet" href="../static/css/main.css">
    <body onload="toggle_signout()">
        <div class="main">
            <div class="container">
                <form action="/login" method="post">
                    <div class="container_a">
                        <label>Name</label>
                        <input type="text" placeholder="Username" name="name" required>
                        <label>Password</label>
                        <input type="password" placeholder="Password" name="password" required>
                        <button type="submit">Sign In</button>
                        <p>Don't have an account?<a href={{url_for('register')}}>Register</a></p>
                        <p style="color:#66347F;">{{pred}}</p>
                    </div>
                </form>
                <div class="sign_out" style="flex-direction: column;">
                    <div class="wrapper">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> 
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                        </svg>
                    </div>
                    <div class="container_a">
                        <form action="/signout" methods="post">
                            <input style="display:none" type="text" id="email"  name="email" >
                            <button type="submit">Sign Out</button>
                            <p style="color:#66347F;">{{pred}}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>