body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:skyblue;
}
.nav{
    justify-content: right;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
}
li{
    display: inline;
    float: left;
}
a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
.second{
    display: flex;
    height: 300px;
    margin-left: 45px;
    margin-right: 45px;
}
.sec2{
    width: 50%;
}
.sec1{
    width: 50%;
    padding-left: 100px;
}

span{
    border-bottom: 5px solid yellow;
}
.abt{
    display: flex;
    margin-left: 45px;
    margin-right: 45px;
}

.abt2{
    width: 50%;
    padding-right: 100px;
    line-height: 30px;
}
.abt1{
    width: 50%;
    padding-top: 15px;
    padding-left: 100px;
}
